
<!-- Change This -->		<h2> Announcement! - Winter 2013 Final Exam Prep</h2>

<!-- Change This -->			<p>  I will be holding my "Final Exam Prep" Session on: </p>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Sunday, April 21st -</b> 9AM - 5PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>ARTS W120 -</b>	McGill Campus
															  </div>
															</div>
													 
													<p> We will be covering the entire course, from the basics in order to ensure that you are 100% ready for the final exam.  We will go over: </p>
															<div class="row-fluid"><div class="span11 offset1">	- Any Fortran Material (if necessary, although unlikely)</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- All of the necessary C material </div></div>
															<div class="row-fluid"><div class="span11 offset1">	- All of the algorithms </div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Multiple Choice</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Programming</div></div>

													<p> Hope to see you there! </p>

													<p align="center">
<!-- Change This -->				<%= mail_to "COMP208tutoring@gmail.com","Click here to RSVP", :subject => "RSVP for Winter 2013 Final Exam Prep", class: "													btn btn-large btn-primary" %> <br>
													<b>Please use only your McGill email account to RSVP.</b>
													</p>