    <h2> Due to technical difficulties, the Saturday, April 26th video session is cancelled. </h2>
<h4> I'm very sorry about this, but unfortunately I will not be able to show the video on the weekend.  Thank you for your understanding. </h4>

