    <h2> Announcements & upcoming events will be posted here. </h2>
    <h4> I am finalizing details for a Midterm Review Session on Sunday, October 19th. (block your calendars for the afternoon if you are interestedd)  Stay tuned! </h4>

<p align="center">
	<%= link_to "Click here to RSVP", contactus_path, class: "btn btn-large btn-primary" %>
</p>
<br>