
<!-- Change This -->		<h2> Announcement! - Winter 2016 Midterm Prep</h2>

<!-- Change This -->			<p>  I will be holding my "Midterm Prep Session" on: </p>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Sunday, March 6th -</b> 1:30PM - 5:30PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Hilton Garden Inn - James McGill Room</b>	(next to McGill Campus)
															  </div>
															</div>

<br>
													 
													<p> We will be covering all of the midterm material, from the basics in order to ensure that you are 100% ready for the exam.  </p>
													<p> Hope to see you there! </p>

													<p align="center">
<!-- Change This -->				<%= mail_to "COMP208tutoring@gmail.com","Click here to RSVP", :subject => "RSVP for Winter 2016 Midtern Prep", class: "													btn btn-large btn-primary" %> <br>
													<b>Please use only your McGill email account to RSVP.</b>
													</p>