
<!-- Change This -->		<h2> Announcement! - Fall 2013 Midterm Prep</h2>

<!-- Change This -->			<p>  I will be holding my " Midterm Prep" Session on: </p>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Sunday, October 20th -</b> 1:30PM - 5:30PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Arts W120</b>	McGill Campus
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>AND</b>
															  </div>
															</div>

														<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Monday, October 21st -</b> 6:00PM - 10:00PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Arts W215</b>	McGill Campus
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							You can attend either session (whichever is more convenient for you), but please let me know in advance which session you plan to attend.
															  </div>
															</div>

													 
													<p> We will be covering all of the midterm material, from the basics in order to ensure that you are 100% ready for the exam.  We will go over: </p>
															<div class="row-fluid"><div class="span11 offset1">	- All necessary C material (depending on what the midterm will cover)</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Multiple Choice</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Programming</div></div>

													<p> Hope to see you there! </p>

													<p align="center">
<!-- Change This -->				<%= mail_to "COMP208tutoring@gmail.com","Click here to RSVP", :subject => "RSVP for Fall 2013 Final Exam Prep", class: "													btn btn-large btn-primary" %> <br>
													<b>Please use only your McGill email account to RSVP.</b>
													</p>