    <h3> My COMP208 Midterm Prep Session date & details will be posted as soon as the midterm date is finalized. </h3>
    <h4> Stay tuned! </h4>

<p align="center">
	<%= link_to "Click here to RSVP", contactus_path, class: "btn btn-large btn-primary" %>
</p>
<br>