
<!-- Change This -->		<h2> Announcement! - Winter 2015 Midterm Exam Prep</h2>

<!-- Change This -->			<p>  I will be holding my "Midterm Prep" Session on: </p>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Sunday, March 8th -</b> 6PM - 10PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Room TBD</b>	McGill Campus
															  </div>
															</div>														
<br>

													 
													<p> We will be covering all of the midterm material, from the basics to ensure that you are 100% ready for the exam.  We will go over: </p>
															<div class="row-fluid"><div class="span11 offset1">	- All necessary C material</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Multiple Choice</div></div>
															<div class="row-fluid"><div class="span11 offset1">	- Sample Programming (if applicable)</div></div>

													<p> Hope to see you there! </p>

													<p align="center">
<!-- Change This -->				<%= mail_to "COMP208tutoring@gmail.com","Click here to RSVP", :subject => "RSVP for Winter 2015 Midterm Prep", class: "													btn btn-large btn-primary" %> <br>
													<b>Please use only your McGill email account to RSVP.</b>
													</p>