<h2> RSVP or ask me questions by: </h2>
<br>
<h4>
	<div class="row-fluid">
		<div class="span2">Email:</div>
		<div class="span6"><%= mail_to 'COMP208tutoring@gmail.com','COMP208tutoring@gmail.com' %></div>
	</div>

	<div class="row-fluid">
		<div class="span8"><small>(Please use only your <b>McGill</b> email account to RSVP)</small> </div>
	</div>

	<div class="row-fluid">
		<div class="span2">Phone:</div>
		<div class="span6">514-833-0456</div>
	</div>

	<div class="row-fluid">
		<div class="span8"><small>(ask for Lara, and mention you're calling for COMP208)</small> </div>
	</div>

</h4>