<h2>
 	Welcome to Pascal's Comp208 Tutorials!
	<br>
	<small>
		Here you will find updates on the private crash sessions I run for McGill's COMP208 class:
	</small>

</h2>

<br>

<p align="center">
	<%= link_to "Click here to find out the time and date of my next prep session.", bulletinboard_path, class: "btn btn-large btn-primary" %>
</p>
<br>


	<p align="justify">
		My goal is essentially to provide all of you with a new tool for this course.  I have developed interactive, crash tutorial sessions that are designed to help you improve your grade in Computers in Engineering.  Here’s a quick breakdown of a typical session:
</p>
	<p>

		<div class="row-fluid">
			<div class="span2">	
				<b>Cram:</b>
			</div>
			<div class="span10">
		   	We will review all of the exam material and I will teach it step by step in a crash review format.
		  </div>
		</div>

		<div class="row-fluid">
			<div class="span2">	
				<b>Problem Solving:</b>
			</div>
			<div class="span10">
		   	Together, we will solve many sample problems similar to those in an exam.
		  </div>
		</div>

		<div class="row-fluid">
			<div class="span2">	
				<b>Exam Tips:</b>
			</div>
			<div class="span10">
		   	I will teach you several tips that can help improve your mark drastically in computers exams.
		  </div>
		</div>

		<div class="row-fluid">
			<div class="span2">	
				<b>Exam Solving:</b>
			</div>
			<div class="span10">
		   	We will run through a previous exam and discuss its questions as well as great techniques for solving them.
		  </div>
		</div>
	
		<div class="row-fluid">
			<div class="span2">	
				<b>Questions:</b>
			</div>
			<div class="span10">
		   	Any questions you will have as we go along will be more than welcome, groups will be very interactive.
		  </div>
		</div>

</p>
	<p align="justify">
		As a Mech Eng graduate whose taken Comp208, I understand many students’ insecurity and confusion around exam time.  I recognize the need for extra help and a more interactive approach to the course.  For over <b>eight</b> years now, I have tutored thousands of peers in this subject and have developed a unique, interactive approach to teaching the course that has helped students improve their confidence in this course as well as their grades.  I'm proud to say my students have consistently reported a higher average <b>(~10-20%)</b> than the class.
</p>
	<p align="justify">
		Feel free to keep checking my website for updates on times and locations.  Also, you can find out how to reach me <%= link_to "here","contactus" %>. 
</p>
	<p>

		Good luck, and hope to see you soon!
</p>
	<p>

		Pascal
	</p>
