																	<h2 align="center"> 	
<!-- Change This -->								<b>Kaplan Center -</b>	550 Sherbrooke St. West, Suite 550 (5th floor)
																	</h2>
															<div class="row-fluid">
																<div class="span10 offset2">	
<!-- Change This -->							- Make sure you go to the West tower
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span10 offset2">	
<!-- Change This -->							 - Use the elevator which go to floors 1-10 (not 11-20)
															  </div>
															</div>
																<br><br>
<h2 align="center"> 
<!-- Change This -->						<a href="https://maps.google.com/maps?hl=en&q=45.505858,-73.572443" target="_blank">
<!-- Change This -->							<img src="http://maps.google.com/maps/api/staticmap?center=45.505858,-73.572443&zoom=17&size=800x800&maptype=roadmap&sensor=false&markers=45.505858,-73.572443" alt="Static Map of Arts Building" class="img-rounded"></img>
																</a>
</h2>
																	
