			<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Sunday, November 30th -</b> 10AM - 6PM
																 </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							FDA Auditorium
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>AND</b>
															  </div>
															</div>

														<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							<b>Saturday, December 6th -</b> 10AM - 6PM
															  </div>
															</div>

															<div class="row-fluid">
																<div class="span11 offset1">	
<!-- Change This -->							McConnell Engineering 204
															  </div>
															</div>	