<h4> 
<p> Saturday: (12PM - 8PM)</p>
<p> McConnell Engineering Building</p>
<p> Room 13</p>

</h4>

<br>

<h4> 
<p> Sunday: (10AM - 6PM)</p>
<p> <a href="http://www.mcgill.ca/maps/education-building"> McGill Education Building</a></p>
<p> Room 129</p>

</h4>

