	<h2 align="center"> 	
				<b>ARTS W120 -</b>	McGill Campus

<br><br>

<a href="https://maps.google.com/maps?hl=en&q=45.504971,-73.577988" target="_blank">
	<img src="http://maps.google.com/maps/api/staticmap?center=45.504971,-73.577988&zoom=16&size=500x500&maptype=roadmap&sensor=false&markers=45.504971,-73.577988" alt="Static Map of Arts Building" class="img-rounded"></img>
</a>

	</h2>
