<h4> 
<p> Wednesday, February 25th (7PM - 10PM)</p>
<p> Education Building</p>
<p> Room 211</p>

</h4>

<br>

<h4> 
<p> Sunday, March 8th (6PM - 10PM)</p>
<p> McConnell Engineering</p>
<p> MC13</p>

</h4>