																	<h2 align="center"> 	
<!-- Change This -->								<b>Adams Auditorium -</b>	McGill Campus

																<br><br>

<!-- Change This -->						<a href="https://maps.google.com/maps?hl=en&q=45.505509,-73.575343" target="_blank">
<!-- Change This -->							<img src="http://maps.google.com/maps/api/staticmap?center=45.505509,-73.575343&zoom=16&size=500x500&maptype=roadmap&sensor=false&markers=45.505509, -73.575343" alt="Static Map of Adams Building" class="img-rounded"></img>
																</a>

																	</h2>
