@import 'bootstrap';

body{
    padding-top: 60px;
background-image:url('background.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:left top; 
background-size: cover;
}


#alpha{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.8 opacity */
  background-color: rgba(255, 255, 255, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $grayLight;
    }
}


@import 'bootstrap-responsive';