<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                        	<%= link_to "Home", root_path %>
                        </li>
                        <li>    
                          <%= link_to "Bulletin Board", bulletinboard_path %>
                        </li>
                        <li>    
                          <%= link_to "Location", location_path %>
                        </li>
                        <li>    
                          <%= link_to "Contact Us", contactus_path %>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>




